{% extends 'base.html.twig' %}

{% block body %}
    
{% if app.user.teamrole != "none" %}
    <h1>Can't create a team if you already are in one.</h1>
{% else %}
    
<div id="area">
  <div class="master-card">
    <div class="card">
      <div class="title">CREDIT CARD</div>
      <div class="input-number"><span class="title-number">CARD NUMBER</span>
        <div class="inputs-number">
          <input type="text" maxlength="4" name="number-card" placeholder="0000" required="required"/>
          <input type="text" maxlength="4" name="number-card" placeholder="0000" required="required"/>
          <input type="text" maxlength="4" name="number-card" placeholder="0000" required="required"/>
          <input type="text" maxlength="4" name="number-card" placeholder="0000" required="required"/>
        </div>
        <div class="selects-date selecters">
          <div class="day-select"><span>MONTH</span>
            <select id="dates">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
              <option value="">5</option>
              <option value="">6</option>
              <option value="">7</option>
              <option value="">8</option>
              <option value="">9</option>
              <option value="">10</option>
              <option value="">11</option>
              <option value="">12</option>
            </select>
          </div>
          <div class="year-select"><span>YEAR</span>
            <select id="dates">
              <option value="">19</option>
              <option value="">20</option>
              <option value="">21</option>
              <option value="">22</option>
              <option value="">23</option>
              <option value="">24</option>
              <option value="">25</option>
              <option value="">26</option>
              <option value="">27</option>
              <option value="">28</option>
            </select>
          </div>
        </div>
      </div>
      <div class="mark-gold">
        <div class="round">
          <div class="circles">
            <div class="circle-1"> </div>
            <div class="circle-2"> </div>
          </div>
        </div>
      </div>
      <div class="name"><span>Pay 5€</span></div>
    </div>
    <div class="card-back">
      <div class="tire"></div>
      <div class="secret-area">
        <input type="text" maxlength="3" name="number-card" placeholder="000" required="required"/>
      </div>
      <div class="chip-card"></div>
    </div>
  </div>
  <div class="button-sent">
    <button id="back">BACK</button>
    <button id="continue">CONTINUE</button>
    <a href="{{path("createteam")}}"><button id="finish">FINISH</button></a>
    
  </div>
        
</div>
    
{% endif %}
{% endblock %}
 {% block javascripts %}
    {{ parent() }}
    <script>
        !(function(a) {
         a(function() {
              a(".button-sent #back").hide(),
              a(".button-sent #finish").hide(),
                   a(".button-sent #continue").click(function(b) {
                        a("#area .master-card").css("transform", "rotateY(180deg)"),
                             a(".button-sent #back").show();
                             a(".button-sent #finish").show();
                             a(".button-sent #continue").hide();
                   }),
                   a(".button-sent #back").click(function(b) {
                        a("#area .master-card").css("transform", "rotateY(0deg)"),
                             a(this).hide();
                             a(".button-sent #finish").hide();
                             a(".button-sent #continue").show();
                   });
         });
    })(jQuery);    
    </script>

{% endblock %}