@import url('https://fonts.googleapis.com/css?family=Arimo');
/*---------------------------------------------------------------------------------------GENERAL---*/
body{
    background-color: #121417;
    font-family: 'Arimo', sans-serif;
}
.separator{
    background-color: #f5f5f5;
    height: 1px;
    width: 100%;
    
}
/*--------------------------------------------------------------------------------------- HEADER ---*/
header{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.my-logo{
    background-image: url("css-images/sm-logo.png");
    height: 100px;
    width: 728px;
}
/* Changes logo image for phone devices */
@media screen and (max-width: 750px) {
    .my-logo{
      background-image: url("css-images/sm-logo-min.png");
      height: 85px;
      width: 130px;
  }
}
/*--------------------------------------------------------------------------------------- NAV  ---*/
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px; 
    border: none;
    outline: none;
    color: #f5f5f5;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #121417;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #555;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .dropdown {
    float: left;
    display: none;
  }
  .displayme{
      display:block!important;
  }
}
/*-------------------------------------------------------------------------MID BODY*/
.body-container{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
/*------------------------------------------------------------------------REGISTER AND LOGIN*/
.registerbox{
    margin-bottom: 24px;
}
.registerbox input{
    width: 150%;
    margin-bottom: 10px;
}
@media screen and (max-width: 750px) {
  .registerbox input{
    width: 100%;
}
}
form label{
    display: block;
}

form button{
    margin-top: 5px;
}
/*---------------------------------------------------------------------TEAM*/
.teamaction{
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
    margin-top: 2px;
    margin-bottom: 4px;
    
}
.teamaction button{
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.teamnew{
    width: 362px;
    height: 200px;
    order: 2;
    margin-left: 2px;
    border-style: inset;
    border-color: red;
    background-color: #eaeaea;
}
.teamjoin{
    width: 362px;
    height: 200px;
    order: 1;
    margin-right: 2px;
    border-style: inset;
    background-color: #eaeaea;
}
.teamnew p{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.teamjoin p{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;  
}
.teamjoin button{
    background-color: #cccccc;
}
.teamnew button{
    background-color: #ff8080;
}
@media screen and (max-width: 750px) {
.teamnew{
    margin-left: 0px;
    margin-top: 4px;
}
.teamjoin{
    margin-right: 0px;
}
    
    
}
.small-notes{
    font-style: italic;
    font-size: 9px;
}
.teamdata{
    align-items: baseline;
    align-content: flex-start;
    width: 90%;
    height: 90%;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.teamlogo{
    width: 100px;
    height: 100px;
}
.teamdatatitle{
    background-color: red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
}
.teamdatatitle h2{
    margin-left: 5px;
}
.teamdivlogo{
    text-align: center;
}
.teaminfo{
    color: black;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.teaminfo h3{
    margin-bottom: 5px;
}
.teammembers table{
        border-collapse: collapse;
        width: 100%;
}

.teammembers th, td {
    padding: 8px;
    text-align: left;
}
.teammembers th{
    background-color: black;
    color: white;
}
.teammembers td {
    color: black;
}

.teammembers tr:hover {background-color:#8b2729;}
.teammembers tr:hover td{color:white;}

.teamfinal{
    background-color: red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: 25px;
    height: 35px;
}

.teamfinal a{
    color: white;
    text-decoration: none;
}
.teamfinal a:hover{
    color: black;
}
/*-----------------------------------------------------------LEAGUE & CLASSIFICATION*/
.classiftable{
    width: 100%;
    overflow-x: auto;
    display: block;
}
.classiftable table{
    border-collapse: collapse;
    width: 100%;
}

.classiftable th, td{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2
}
.classiftable img{
    width: 35px;
    height: 35px;
}
.classAdminoptions{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    flex-wrap:wrap;
}
.classAdminoptions a{
    border-radius: 4px;
    margin-top: 3px;
}
.classAdminoptions a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.classAdminoptions a:hover, a:active{
    background-color: red;
}
