<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SportsManager{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('assets/css/style.css')}}"/>
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{path("homeaction")}}"><div class="my-logo"></div></a>
        </header>
        <nav class="topnav" id="myTopnav">
            <a href="{{path("homeaction")}}">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <div class="dropdown">
              <button class="dropbtn">Sign in/up 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Sign in</a>
                <a href="#">Sign up</a>
              </div>
            </div> 
            <a href="javascript:void(0);" class="icon" onclick="deployMenu()">&#9776;</a>
          </nav>
            <div class="separator">
                <!-- /.Separator div only for look purpose -->
            </div>
            <div class="body-container">
        {% block body %}
        <!-- /.Body that will be modified by the different pages -->

        
        
        {% endblock %}
            </div>
        
        {% block javascripts %}
              <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
              <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                <script>
                    //Transform menu into responsive menu for phone display
                function deployMenu() {
                    var x = document.getElementById("myTopnav");
                    if (x.className === "topnav") {
                        x.className += " responsive";
                    } else {
                        x.className = "topnav";
                    }
                }
                </script>
        {% endblock %}
    </body>
</html>
